/*-------------------Base Styles-------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #080808;
  color: #f0f0f5;
}

/*-------------------Utility-------------------*/
.container {
  padding: 10px 5%;
}

.btn,
.first-button,
.send-now {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 30px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  color: #f0f0f5;
  background: #262626;
  transition: 0.5s;
}

.btn {
  margin: 24px 0 0;
  width: fit-content;
  border: 1px solid #84cc16;
  padding: 14px 50px;
}

.btn:hover {
  background: #84cc16;
  color: #000;
}

.send-now {
  padding: 14px 60px;
  margin: 10px 0;
}

.send-now:hover,
.first-button:hover,
.services-list div button:hover {
  background: #444;
}

.first-button span,
.services-list button span {
  font-size: 24px;
  color: #f0f0f5;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/*-------------------Navbar-------------------*/
nav {
  background: #08080880;
  backdrop-filter: blur(10px);
  position: fixed;
  inset: 0 auto auto 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  z-index: 50;
}

.logo {
  font-size: 34px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

.menu-link {
  font-size: 18px;
  position: relative;
  color: #f0f0f5;
}

.menu-link::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0;
  height: 3px;
  background: #84cc16;
  transition: 0.5s;
}

.menu-link:hover::after,
.menu-link.active::after {
  width: 100%;
}

/*-------------------Hero Section-------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(images/background\ img.webp) center/cover fixed;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text {
  margin-top: 64px;
  width: 100%;
}

.header-text p {
  font-size: 16px;
  line-height: 26px;
  color: #ababab;
  width: 38%;
}

.header-text h1 {
  font-size: 56px;
  margin-bottom: 34px;
}

.header-text h1 span {
  color: #84cc16;
}

/*-------------------Icons-------------------*/
.icons,
.social-icons {
  margin-top: 46px;
  margin-bottom: 46px;
}

.icons a,
.social-icons a {
  font-size: 30px;
  margin-right: 28px;
  color: #f0f0f5;
  transition: transform 0.5s;
}

.icons a:hover,
.social-icons a:hover {
  color: #84cc16;
  transform: translateY(-10px);
}

/*-------------------About-------------------*/
#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-cal-1,
.contact-left {
  flex-basis: 35%;
}

.about-cal-2,
.contact-right {
  flex-basis: 60%;
}

.about-cal-1 img {
  width: 100%;
}

.sub-title {
  font-size: 56px;
  font-weight: 600;
  color: #f0f0f5;
  padding-bottom: 26px;
}

.tab-titles {
  display: flex;
  margin: 44px 0 40px;
}

.tab-links {
  font-size: 20px;
  font-weight: 500;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0;
  height: 3px;
  background: #84cc16;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

.tab-contents ul li {
  font-size: 16px;
  list-style: none;
  margin: 12px 0;
  line-height: 24px;
}

.tab-contents span {
  font-size: 14px;
  color: #729c32;
}

.tab-contents span.approach {
  font-size: 16px;
  line-height: 18px;
}

/*-------------------Services-------------------*/
#services {
  padding: 10px 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 46px;
  border-radius: 8px;
  font-weight: 300;
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
  font-size: 58px;
  margin-bottom: 30px;
  color: #707070;
}

.services-list div h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.services-list div p {
  font-size: 16px;
  line-height: 24px;
  color: #ababab;
  padding-bottom: 30px;
}

.services-list div:hover {
  transform: translateY(-10px);
}
.services-list button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 30px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  color: #f0f0f5;
  background: #383838;
  transition: 0.5s;
}

/*-------------------Portfolio-------------------*/
#portfolio {
  padding: 75px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  margin-top: 50px;
}

.work {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.work img {
  width: 100%;
  border-radius: 5px;
  display: block;
  transition: transform 0.5s;
}

.work:hover img {
  transform: scale(1.1);
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: rgba(8, 8, 8, 0.88);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  border-radius: 5px;
  text-align: center;
  transition: height 0.5s;
}

.layer i {
  font-size: 38px;
  color: #fff;
}

.layer i:hover {
  color: #84cc16;
  font-size: 44px;
}

.work:hover .layer {
  height: 100%;
}

/*-------------------Dialog-------------------*/
.dialog-box {
  z-index: 1000;
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.dialog-overlay {
  position: absolute;
  inset: 0;
  background: #00000080;
  backdrop-filter: blur(8px);
}

.dialog {
  position: relative;
  width: 80%;
  max-width: 1200px;
  max-height: calc(98vh - 40px);
  margin: auto;
  background: #000;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

.dialog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dialog-close-box {
  position: fixed;
  top: 16px;
  right: 16px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  z-index: 1100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.dialog-close-box:hover {
  color: #729c32;
}

.dialog-close-box i {
  z-index: 20;
}

.dialog-close-overlay {
  position: absolute;
  inset: 0;
  background: #00000090;
  filter: blur(8px);
  border-radius: 4px;
}

/*-------------------Contact-------------------*/
#contact {
  padding: 30px;
}

.contact-left p {
  margin-top: 38px;
}

.contact-left p i {
  color: #84cc16;
  margin-right: 15px;
  font-size: 25px;
}

.contact-left p a {
  color: #f0f0f5;
}

form input,
form textarea {
  width: 100%;
  background: #262626;
  border: none;
  outline: none;
  padding: 15px;
  margin: 10px 0;
  color: #f0f0f5;
  font-size: 18px;
  border-radius: 6px;
}

.location {
  padding: 40px 0 0;
  font-weight: 300;
  text-align: center;
}

.location i {
  font-size: 22px;
  margin-right: 4px;
  color: #84cc16;
}
.mail-num:hover {
  text-decoration: underline;
}

/*-------------------Responsive-------------------*/
nav .fa-solid {
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  #hero {
    background-image: url(images/background\ img\ responsive.webp);
  }

  .logo {
    font-size: 22px;
  }

  .header-text {
    margin-top: 60px;
  }

  .header-text h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .header-text p {
    font-size: 14px;
    margin-top: 42px;
    width: 75%;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
  }

  nav ul {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    background: #84cc16;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
  }

  .icons a {
    font-size: 24px;
    margin-right: 24px;
  }

  .sub-title {
    font-size: 30px;
  }

  .about-cal-1,
  .about-cal-2,
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .about-cal-1 {
    margin-bottom: 30px;
  }

  .about-cal-2 p {
    margin-top: 20px;
  }

  .tab-links {
    font-size: 16px;
    margin-right: 12px;
  }

  .tab-titles {
    margin-top: 22px;
  }

  #about {
    padding-top: 50px;
    padding-bottom: 0;
  }

  #services {
    padding-top: 28px;
  }

  #services,
  .sub-title,
  .services-list {
    padding-bottom: 0;
  }

  #portfolio {
    padding-top: 60px;
    padding-bottom: 0;
  }

  #contact {
    padding: 45px 5px 0;
  }

  .social-icons a {
    font-size: 24px;
    margin-right: 22px;
  }

  .contact-right {
    padding-top: 50px;
  }
}